* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #5F6368;
}


#conteiner {
    width: 375px;
    background-color: #EDEEEE;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;

}

#haader-money {
    background-color: #708090;
    height: 66px;


}

#titulo {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    line-height: 18px;
    text-align: center;
    padding-top: 20px;

}

#main-conteiner {
    padding: 25px;
}

.span-covert {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3B3B3B;
}

.select-op{
    background: #ffffff ;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding: 10px;
    box-shadow: 2px 2px 5px #3B3B3B;
    margin-bottom: 20px;
    margin-top: 10px;
}

input{
    width: 100%;
    border: 1px solid #bbbbbb;
    outline: none;
    padding: 10px;
    box-shadow: 2px 2px 5px #3B3B3B;
    border-radius: 5px;
    height: 48px;
    display: block;
    margin-top: 10px;
    font-size: 15px;
}


.button-convert {
    background: #FA7F52;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    border: none    ;
    box-sizing: border-box;
    color: #fff;
    display: block;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 5px #3B3B3B;
    margin-bottom: 20px;
  }
  
  .button-convert:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  .button-convert:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  .button-convert:focus {
    outline: 0 solid transparent;
  }
  
  .button-convert:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .button-convert:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .button-convert:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  .button-convert:not(:disabled):active {
    transform: translateY(.125rem);
  }

  section {

    border: 1px solid #FA7F52;
    border-radius: 5px;
    width: 100%;
  }

  .conteiner-img{
    text-align: center;
    padding: 10px;
  }

  .currency-name{
    font-style: normal;
    font-weight: 500;
    font-style: 14px;
    color: #708090;
    line-height: 18px;
  }

  .currency-number{
    font-weight: 600;
    font-style: normal;
    line-height: 18px;
    color:#FA7F52;
    font-size: 20px;
  }

  #seta{
    display: block;
    margin: 15px auto;
  }